<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!-- <title>H+ 后台主题UI框架 - 主页</title> -->
  <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
  <link href="../js/plugins/elementUi/index.css" rel="styleSheet">
  <link href="../css/view/template.css" rel="styleSheet">
  <link rel="stylesheet/less" type="text/css" href="./css/act.less" />
  <link href="../js/plugins/syntaxhighlighter/css/shCore.css" rel="styleSheet"/>
  <link href="../js/plugins/syntaxhighlighter/css/shCoreDefault.css" rel="styleSheet"/>
<script src="./lib/less/less.js/less.min.js" type="text/javascript"></script>
</head>

<body>
  <div id="app">
    <el-row >
        <el-row>
          <el-button type="primary" icon="el-icon-plus" @click="action('add')">新增</el-button>
          <el-button type="danger" icon="el-icon-delete" @click="action('deleteIn',multipleSelection)">删除</el-button>
          <el-button type="success" icon="el-icon-refresh" @click="freachData('refresh')">刷新</el-button>
        </el-row>
        <el-row justify="center" style="margin-top: 10px;">
          <el-table :data="tableData" style="width: 100%" @selection-change="handleSelectionChange" v-loading="loading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          >
            <el-table-column type="selection" width="55">
            </el-table-column>
            <el-table-column type="index" label="序号" width="80">
            </el-table-column>
            <el-table-column prop="id" label="模板编号" width="180" v-if="false">
            </el-table-column>
            <el-table-column prop="template_name" label="模板名称" width="200" >
            </el-table-column>
            <el-table-column prop="template_describe" label="模板描述" >
            </el-table-column>
            <el-table-column prop="list_id" label="模板目录" width="180" v-if="true">
                <template slot-scope="scope">
                    <el-button type="primary" icon="el-icon-edit" circle @click="templateEdit(scope.row.id)"></el-button>
                  </template>
            </el-table-column>
            <el-table-column fixed="right" label="操作" width="200">
              <template slot-scope="scope">
                <el-button type="primary" icon="el-icon-edit" circle @click="action('update',scope.row)"></el-button>
                <el-button type="danger" icon="el-icon-delete" circle @click="action('delete',scope.row)"></el-button>
              </template>
            </el-table-column>

          </el-table>
          <div style="text-align:center;margin-top: 10px">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage"
              :page-sizes="[20,50,100, 200, 300, 400]" :page-size=pageSize layout="total, sizes, prev, pager, next, jumper"
              :total=total>
            </el-pagination>
          </div>
      </el-row>
    </el-row>
    <el-dialog title="" :visible.sync="dialogFlieFormVisible" width="70%" center>
      <el-row :gutter="12" >
        <el-col :span="5" >
              <el-tree
              :data="treeData"
              node-key="list_id"
              highlight-current
              :default-expanded-keys="expanded"
              @node-contextmenu="treeMenuShow"
              :expand-on-click-node="true"
              @node-click="treeNodeClick">
              <span class="custom-tree-node" slot-scope="{ node, data }" >
                <span :id="dataid" v-if='dataid!=data.list_id'><i :class="data.list_type=='.folder'?
                  'el-icon-message':'el-icon-document'"></i><span style="margin:10px;">{{data.list_name}}</span></span>
                <span v-if='dataid==data.list_id'><input type='text' style="width: 80px" v-model="treeForm.list_name" >
                  <i class='el-icon-close edit-item-btn' @click="nodeItemEditClose(node, data)">
                  </i><i class='el-icon-check edit-item-btn' @click='treeSave'></i></span>
                <!-- <span v-if='nodeid!=node.id' class="el-icon-news" @click="" style="margin-left: 20px;display: inline-block"></span>
                <span v-if='nodeid!=node.id' class="el-icon-document" @click="addInput(node.id,data)"></span>
                <span v-if='nodeid!=node.id' class="el-icon-delete" @click=""></span> -->
              </span>
            </el-tree>
        </el-col>
        <el-col :span="19">
            <el-row style="margin-bottom:10px;">
                <el-button type="primary" icon="el-icon-edit" plain  size="small" @click="codeEdit=true" v-show="!codeEdit">修改代码</el-button>
                <el-button type="primary" icon="el-icon-edit" plain  size="small" @click="updateTemplateFile"  v-show="codeEdit">保存修改</el-button>
              </el-row>
            <el-input
            :rows="26"
            type="textarea"
            placeholder="请输入内容"
            v-model="fileForm.file_content" v-show="codeEdit">
          </el-input>
          <div style="min-height:550px;max-height:550px;overflow-y:scroll" v-html="textarea" v-show="!codeEdit" >
          </div>
          
        </el-col>
      </el-row>
    </el-dialog>
    <el-dialog title="数据库" :visible.sync="dialogFormVisible" width="40%">
      <el-form :model="insertForm" :inline="false" :rules="rules" ref="insertForm">
        <el-form-item label="模板名称" :label-width="formLabelWidth" prop="template_name">
          <el-input v-model="insertForm.template_name" ></el-input>
        </el-form-item>
        <el-form-item label="模板描述" :label-width="formLabelWidth" prop="template_describe">
          <el-input v-model="insertForm.template_describe" autocomplete="off" type="textarea"
          :rows="4"></el-input>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="validateAction('insertForm')">提 交</el-button>
        <el-button @click="dialogFormVisible = false">取 消</el-button>
      </div>
    </el-dialog>
    <div class="tree-menu" :style="treeMenuStyle" v-show="treeMenuDisplay">
      <ul>
        <li class="tree-menu-item" @click="treeAdd('.folder')"><i class="el-icon-plus" ></i>新增文件夹</li>
        <li class="tree-menu-item" @click="treeAdd('.file')"><i class="el-icon-plus" ></i>新增文件</li>
        <li class="tree-menu-item" @click="treeEdit"><i class="el-icon-edit" ></i>编辑</li>
        <li class="tree-menu-item" @click="treeDel"><i class="el-icon-delete" ></i>删除</li>
      </ul>
    </div>
  </div>

  <script src="../js/vue.js"></script>
  <script src="../js/plugins/elementUi/index.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/plugins/syntaxhighlighter/js/XRegExp.js"></script>
  <script src="../js/plugins/syntaxhighlighter/js/shCore.js"></script>
  <script src="../js/plugins/syntaxhighlighter/js/shBrushJava.js"></script>
  <script>
    function update(value){
      console.log(value);
    }

    new Vue({
      el: '#app',
      data() {
        return {
          method:"",
          codeEdit:false,
          treeMenuStyle:{
            "top": "200px",
            "left": "200px"
          },
          expanded:[],
          treeForm:{},
          fileForm:{},
          textarea:"",
          treeMenuDisplay:false,
          selectNode:{},
          dataid:'',
          inputValue:'1',
          nodeid:'3',
          treeData: "",
          loading:false,
          total: 0,
          currentPage: 1,
          pageSize: 20,
          dialogFlieFormVisible:false,
          dialogFormVisible: false,
          method: "",
          formDemo: {
            template_name: null,
            template_describe: null,
          },
          insertForm: {
            template_name: null,
            template_describe: null,
          },
          formLabelWidth: '100px',
          tableData: [],
          multipleSelection: [],
          rules: {
            template_name: [{
              required: true,
              message: '模板名称',
              trigger: 'blur'
            }],

          }

        }
      },
      mounted() {
        this.event();
        this.init();
       
      },
      methods:{
        init() {
          this.freachData();
          
        },
       
        freachData(value) {
          var that = this;
          that.loading=true;
          $.post("/template/selectByPage", {
            "pageSize": that.pageSize,
            "pageNum": that.currentPage
          }, function (result) {
            that.tableData = result.data.items;
            that.total = result.data.totalNum;
            that.currentPage = result.data.currentPage;
            that.loading=false;
            if(value==='refresh'){
              that.$message({
                      message: "数据刷新成功！",
                      type: 'success'
            });
            }
            
          })
        },
        action(value, row) {
          this.method = value;
          if (value === "add") {
            Object.assign(this.insertForm, this.formDemo);
            this.dialogFormVisible = true;
          } else if (value === "update") {
            Object.assign(this.insertForm, row);
            this.dialogFormVisible = true;
          } else if (value.indexOf("delete") != -1) {
            this.insertForm = row;
            this.submit();
          }

        },
        validateAction(from){
          var that=this;
          this.$refs[from].validate((valid) => {
            if (!valid) {
              that.$message({
                    message: "数据错误！",
                    type: 'error'
              });
            }else{
              that.submit();
            }
          })
        },
        submit(from){
          var that = this;
          $.ajax({
                type: "post",
                url: "/template/" + that.method,
                data: JSON.stringify(that.insertForm),
                contentType: 'application/json',
                dataType: "json",
                success: function (result) {
                  if (result && result.state === "200") {
                    that.$message({
                      message: result.message,
                      type: 'success'
                    });
                    that.dialogFormVisible = false;
                    that.freachData();
                  } else if (result.state === "500") {
                    that.$message({
                      message: result.message,
                      type: 'error'
                    });
                  }

                },
                error: function (result) {
                  that.$message({
                    message: "出现错误！",
                    type: 'error'
                  });
                }

          });
        },
        handleSelectionChange(val) {
          this.multipleSelection = val;
        },
        handleSizeChange(val) {
          this.pageSize = val;
          this.freachData();
        },
        handleCurrentChange(val) {
          this.currentPage = val;
          this.freachData();
        },
        treeAdd(fileType) {
          let data=this.selectNode.data;
          //展开当前节点
          this.expanded.push(data.list_id);
          this.treeForm = { list_id: "", list_name: '', children: [] ,list_fid: data.list_id,list_type:fileType,template_id:data.template_id};
          if (!data.children) {
            this.$set(data, 'children', []);
          }
          data.children.push(this.treeForm);
          this.treeMenuDisplay=false;
          this.dataid="";
          this.method="treeAdd";
        },
        treeSave(){
          let that=this;
            $.post("/template/"+that.method,that.treeForm,function(result){
            if(result.state=="200"){
              that.$message({
              message:result.message,
              type: 'success'
              })
              //刷新模板数据
              that.templateEdit();
              //展开新增目录
              that.expanded.push(that.treeForm.list_id);
              that.method="";
            }else if(result.state=="500"){
              that.$message({
              message:result.message,
              type: 'error'
              })
            }
            })
        },
        treeEdit(){
         this.dataid=this.selectNode.data.list_id;
         this.method="treeUpdate";
         this.treeMenuDisplay=false;
        //  console.log(this.dataid);
        },
        treeDel(){
          let that=this;
          $.post("/template/treeDel",that.treeForm,function(result){
            if(result.state=="200"){
              that.$message({
              message:result.message,
              type: 'success'
              })
              //刷新模板数据
              that.templateEdit();
            }else if(result.state=="500"){
              that.$message({
              message:result.message,
              type: 'error'
              })
            }
          })
          // this.remove(this.selectNode,this.selectNode.data);
          this.treeMenuDisplay=false;
        },
        remove(node, data) {
          const parent = node.parent;
          const children = parent.data.children || parent.data;
          const index = children.findIndex(d => d.id === data.id);
          children.splice(index, 1);
        },
        nodeItemEditClose(node, data){
          if(this.method=="treeAdd"){
            this.remove(node,data)
          }else if(this.method="treeUpdate"){
            this.dataid='';
          }
          this.method="";
        },
        treeMenuShow(event,data,node,el){
          this.treeMenuDisplay=true;
          this.treeMenuStyle.left=event.clientX+"px";
          this.treeMenuStyle.top=event.clientY+"px";
          this.selectNode=node;
          $.extend(true,this.treeForm, this.selectNode.data);
          delete this.treeForm.children;
          
        },
        treeMenuHide(){
          this.treeMenuDisplay=false
        },
        event(){
          document.addEventListener("click",this.treeMenuHide,false); 
        },
        templateEdit(templateId){
          let that=this;
          that.dataid="";
          $.post("/template/treeInit",{
            "templateId":templateId
          },function(result){
              that.dialogFlieFormVisible=true;
              that.treeData=result.data;
          });
        },
        treeNodeClick(data,node,el){
            let that=this;
            if(that.method==""){
              if(data.list_type===".file"){
              $.post("/template/getFileByListId",{listId:data.list_id},function(result){
                that.fileForm=result.data;
                that.codeRefresh();
              })
            }else if(data.list_type===".folder"){
              // that.expanded.push(data.list_id);
            }
            }
           
        },
        updateTemplateFile(){
          let that=this;
          $.post("/template/updateFile",that.fileForm,function(result){
            if (result && result.state === "200") {
                    that.$message({
                      message: result.message,
                      type: 'success'
                    });
                    that.codeRefresh();
                    that.codeEdit=false;
                  } else if (result.state === "500") {
                    that.$message({
                      message: result.message,
                      type: 'error'
                    });
                  }
          })
        },
        codeRefresh(){
          this.textarea='<pre name="code" class="brush: java;toolbar:false;">'+this.fileForm.file_content+'</pre>';
          Vue.nextTick(() => {
             SyntaxHighlighter.highlight();
          }) 
        }
      },
      
    })
  </script>

</body>

</html>